#createCustomerAnchorPane {
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-pref-height: 450.0;
    -fx-pref-width: 387.0;
    -fx-background-color: #1B6070;
}

#createCustomerAnchorPane .mfxTextField {
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-pref-height: 29.0;
    -fx-pref-width: 181.0;
}

#createCustomerAnchorPane .button {
    -fx-background-color: #1B6070;
    -fx-pref-height: 26.0;
    -fx-pref-width: 110.0;
    -fx-text-fill: white;
}