#CouponAnchorPane {
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-pref-height: 192;
    -fx-pref-width: 387.0;
    -fx-background-color: #1B6070;
}

#CouponAnchorPane .mfxTextField {
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-pref-height: 29.0;
    -fx-pref-width: 181.0;
}

#CouponAnchorPane .button {
    -fx-background-color: #1B6070;
    -fx-pref-height: 26.0;
    -fx-pref-width: 100.0;
    -fx-text-fill: white;
}
