 #Vbox{
    -fx-background-color: #1B6070;
}
#mfx-button{
    -fx-pref-width: 94;
    -fx-pref-height: 26;
    -fx-text-fill: mediumpurple;
    -fx-background-radius: 5;
    -fx-font-family: 'Sixtyfour', sans-serif;
    -mfx-button-type: RAISED;

    -fx-border-color: #d2d2d2;


}
 #mfx-button:pressed {
     -fx-background-color: #46216b;
 }
#UserName:hover{
    -fx-pref-width: 202;
    -fx-pref-height: 29;
    -fx-font-size: 13;
    -fx-text-fill: darkslateblue;
    -fx-border-color: mediumpurple;
}
#Password:hover{
    -fx-pref-width: 202;
    -fx-pref-height: 29;
    -fx-text-fill: darkslateblue;
    -fx-border-color: mediumpurple;
    -fx-font-size: 13;
}